.ygo-card {
    img {
        width: 90%;
        object-fit: cover;
        width: 180px;
        border: 5px black;
        box-shadow: 6px 6px #5a2507;
    }
}

.name{
    text-align: center;
   color: #d8a116;
   -webkit-text-stroke: 0.7px rgb(236, 4, 4);
   font-size: medium;
   height: auto;
}

.pad{
    margin-bottom: 15px;
}