:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  margin: 0;
  flex: 1;
  position: relative;

  
}
.yugi-img{
    position: fixed;
    bottom: 0.6em;
    right: 0.6em;
  }
